{% extends "app/layout.html" %}

{% block content %}
  <h1>Notification List</h1>
   
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Organization Name</th>
                        <th>Device No</th>
                        <th>Part No</th>
                        <th>Remaining Time(secs)</th>
                        <th>Is On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ notification.OrganizationName }}</td>
                        <td>{{ notification.DeviceProductNo }}</td>
                        <td>{{ notification.PartProductNo }}</td>
                        <td>{{ notification.ExpectedLifeTime }}</td>
                        <td>{{ notification.IsOn }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        </div>

{% endblock %}